<Project>
  <PropertyGroup>
    <PublishProfile>DefaultContainer</PublishProfile>
    <ContainerRepository>howestprime-client-backoffice</ContainerRepository>
    <ContainerPublishMethod>Build</ContainerPublishMethod>
    <ContainerImageTag>latest</ContainerImageTag>
    <ContainerPort>8080</ContainerPort>
    <ContainerUser>app</ContainerUser>
  </PropertyGroup>
</Project>
